//colours
$bg-primary: black;
$bg-secondary: #f5f5c0;

$col-primary: #000000;
$col-secondary: #ffffff;
$col-tertiary: black;
$col-quaternary: green;

$link-col-primary: red;
$link-hov-primary: #424d0a;

$heading-primary: red;
$heading-secondary: green;
$heading-tertiary: black;

$link-col-secondary: white;
$link-hov-secondary: #f4e17a;
